/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

.flexcenter{
  display: flex;
  justify-content: center;
}

body {
  font-family: "Poppins", sans-serif;
}

.textadjust {
  font-size: .9em;
}

.moremargin {
  margin-top: 1%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
