/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

.flexcenter{
  display: flex;
  justify-content: center;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f2efed;
}

.textadjust {
  font-size: .9em;
}

.moremargin {
  margin-top: 1%;
}

.within {
  margin-top: 2%;
  border: 1px solid black;
  background-color: white;
  width: 35%;
  margin-right: auto;
  margin-left: auto;
}

.hidden {
  display: none;
}

.buttonlisthidden {
  display: none;
}

li {
  list-style-type: none;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

