/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
  display: block;
  margin: 0 auto;
}

.flexcenter {
  display: flex;
  justify-content: center;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f2efed;
}

.textadjust {
  font-size: .9em;
}

.moremargin {
  margin-top: 1%;
}

.within {
  margin-top: 2%;
  border: 1px solid black;
  background-color: white;
  width: 25%;
  margin-right: auto;
  margin-left: auto;
}

.hidden {
  display: none;
}

.buttonlisthidden {
  display: none;
}

ul {
  list-style-type: none;
  text-align: center;
}

center {
  text-align: center;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (max-width: 428px) and (orientation: portrait) {
  .within {
    width: 100%;
  }

  .textadjust {
    text-align: center;
  }
}

@media screen and (max-width: 809px) {
  .within {
    width: 100%;
  }

  .textadjust {
    text-align: center;
  }
}

@media screen and (min-width: 810px) and (orientation: portrait) {
  .within {
    width: 50%;
  }
}